<div class="container-fluid" style="margin-top: 5px;">
  <div class="row">
      <div class="col-xl-4 .col-lg-4 .col-md-4 col-sm-12">   
        <div class="form-group">
            <label>Busqueda de pelicula</label>
            <br>
           <!-- <input type="text" class="form-control" id="pel" name="filterPost" placeholder="Buscar..." 
           [(ngModel)]="filterPost" style="width: 58%;"/> -->
           <input type="text" class="form-control" id="pel" name="filterPost" placeholder="Buscar..." 
           [(ngModel)]="term" style="width: 58%;"/>
         </div> 
  </div>
  <div class="col-xl-4 .col-lg-4 .col-md-4 col-sm-12">
          <div class="form-group">
              <label>Selecion por genero</label>
              <br>
              <select class="form-control" style="width: 50%;" (change)="Filter_genres($event.target.value)">
                  <option value="">---Seleccione--</option> 
                  <option *ngFor="let item of genres"  value="{{item.code}}"> {{item.label}}</option>                 
                  </select>
           </div>
    </div>
    <div class="col-xl-4 .col-lg-4 .col-md-4 col-sm-12">
        
      <div class="form-group">
                <label>Resultados por Pagina</label>
                <br>
               <select class="form-control" style="width: 35%;" [(ngModel)]="items">
                 <option value="6" > 6</option>
                 <option value="9"> 9</option>
                 <option value="12"> 12</option>
                 </select>
             </div>  
      </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
      <div *ngIf="isLoading" class="text-center">
        LOADING...
      </div>
      
         <!-- <div class="col-sm-4 col-md-4" *ngFor="let movie of info | filter:filterPost | paginate:{itemsPerPage:items, currentPage: p}"> -->
        <div class="col-sm-4 col-md-4" *ngFor="let movie of info | filter:term | paginate:{itemsPerPage:items, currentPage: p}" >
          <div class="card" style="height: 95%;">
            <img class="card-img-top" src="{{movie.image}}" alt="Card image" style="height: 550px;">
            <div class="card-body" >
              <h5 class="card-title">{{movie.nombre}}</h5>
              <p class="card-text"><strong>Director:</strong> {{movie.director}}</p>
              <button class="btn btn-lg btn-outline-primary" (click)="open(content, movie)">Ver mas</button>
              <a style="float: right;"><fa-icon [icon]="faStar" style="background-color: yellow;" *ngIf="readLocalStorageValue(movie.nombre)"></fa-icon></a>
            </div>
          </div>
         <br>
        </div>
      
   
    
  </div>

</div>
<div class="container" >
  <div class="row">
      <pagination-controls (pageChange)="p= $event" responsive="true"></pagination-controls>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> {{parametros.nombre}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
        <div class="form-group">
          <p>
            <strong>Calificaci&oacute;n: </strong> <fa-icon [icon]="faStar" style="background-color: yellow;"></fa-icon>  {{parametros.estrellas}}/5.0
          </p>
        </div>

        <div class="form-group">
          <p>
           <strong> Elenco: </strong> {{parametros.elenco}}
          </p>
        </div>

        <div class="form-group">
          <p>
            <strong>Sinopsis: </strong> {{parametros.descripccion}}
          </p>
        </div>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button"  class="btn btn-danger" (click)="remove_favorites(parametros.nombre)"  [disabled]="ButtonDisabled1">remove From favorites</button>
      <button  type="button"  class="btn btn-success" (click)="add_favorites(parametros.nombre)" [disabled]="ButtonDisabled">Add favorites</button>
  </div>
</ng-template>
<!-- <app-details>
  
</app-details>
<button  type="button"  class="btn btn-success" (click)="open1(prueba)">abrir componente</button> -->