<div *ngIf="isLoading" class="spinner-border text-primary" role="status" id="loader">
  <span class="sr-only">Loading...</span>
</div>


<div class="container-fluid" style="margin-top: 5px;">
  <div class="row">
      <div class="col-xl-4 .col-lg-4 .col-md-4 col-sm-12">   
        <div class="form-group">
            <label>Busqueda de pelicula</label>
            <br>
           <!-- <input type="text" class="form-control" id="pel" name="filterPost" placeholder="Buscar..." 
           [(ngModel)]="filterPost" style="width: 58%;"/> -->
           <input type="text" class="form-control" id="pel" name="filterPost" placeholder="Buscar..." 
           [(ngModel)]="term" style="width: 58%;"/>
         </div> 
  </div>
  <div class="col-xl-4 .col-lg-4 .col-md-4 col-sm-12">
          <div class="form-group">
              <label>Selecion por genero</label>
              <br>
              <select class="form-control" style="width: 50%;" [(ngModel)]="genSelected" (ngModelChange)="Filter_genres($event)">
                  <option [disabled]="genSelected" value="undefined">---Seleccione--</option> 
                  <option value="all">Todas</option>
                  <option *ngFor="let item of genres"  value="{{item.code}}"> {{item.label}}</option>                 
                  </select>
           </div>
    </div>
    <div class="col-xl-4 .col-lg-4 .col-md-4 col-sm-12">
        
      <div class="form-group">
                <label>Resultados por Pagina</label>
                <br>
               <select class="form-control" style="width: 35%;" [(ngModel)]="items">
                <option value="2" > 2</option>
                <option value="3" > 3</option>
                <option value="5" > 5</option>
                 <option value="6" > 6</option>
                 <option value="9"> 9</option>
                 </select>
             </div>  
      </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
   
         <!-- <div class="col-sm-4 col-md-4" *ngFor="let movie of info | filter:filterPost | paginate:{itemsPerPage:items, currentPage: p}"> -->
        <div class="col-sm-4 col-md-4" *ngFor="let movie of info | filter:term | paginate:{itemsPerPage:items, currentPage: p}" >
          <div class="card" style="height: 95%;">
            <img class="card-img-top" src="{{movie.image}}" alt="Card image" style="height: 550px;">
            <div class="card-body" >
              <h6 class="card-title">{{movie.nombre}}</h6>
              <p class="card-text"><strong>Director:</strong> {{movie.director}}</p>
              <button class="btn btn-lg btn-outline-primary" (click)="open(movie)">Ver mas</button>
              <a style="float: right;"><fa-icon [icon]="faStar" style="background-color: yellow;" *ngIf="readLocalStorageValue(movie.nombre)"></fa-icon></a>
           
            </div>
          </div>
         <br>
        </div>
      
   
    
  </div>

</div>
<div class="container" >
  <div class="row">
      <pagination-controls (pageChange)="p= $event" responsive="true"></pagination-controls>
  </div>
</div>


   <app-details [movie]="movieSelected" *ngIf="movieSelected" > </app-details>