
<div class="modal-content" id="info_peli"  *ngIf="movie" >
<div>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{movie.nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <p>
              <strong>Calificaci&oacute;n: </strong> <fa-icon [icon]="faStar" style="background-color: yellow;"></fa-icon>  {{movie.estrellas}}/5.0
            </p>
          </div>
  
          <div class="form-group">
            <p>
             <strong> Elenco: </strong> {{movie.elenco}}
            </p>
          </div>
  
          <div class="form-group">
            <p>
              <strong>Sinopsis: </strong> {{movie.descripccion}}
            </p>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-danger" (click)="remove_favorites(movie.nombre)" *ngIf="exists2(movie.nombre)">remove favorites</button>
      <button  type="button"  class="btn btn-success" (click)="add_favorites(movie.nombre)" *ngIf="exists1(movie.nombre)">Add favorites</button>
      </div>
    </div>
  </div>

</div>
</div>
