<ng-template #prueba let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">prueba xd</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form >
          <div class="form-group">
            <p>
             hola
            </p>
          </div>
  
          <div class="form-group">
            <p>
              hola
            </p>
          </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button"  class="btn btn-danger">remove From favorites</button>
        <button  type="button"  class="btn btn-success">Add favorites</button>
    </div>
  </ng-template>